<%- include("setup/head") %>

<h1><%= head.title %></h1>

<% if (account) { %>
  <% account.matches.forEach(function(match){ %>
    <a href="/chat/<%= match.id %>">
      <h3><%= match.name %></h3>
    </a>
  <% }) %>
<% } %>

<%- include("setup/footer") %>